# created by virtualenv automatically
requarements.txt:Zone.Identifier
__pycache__
.pytest_cache
.vscode
*.png
*.jpeg

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
